DELETE FROM SERVER_LIST;
INSERT INTO SERVER_LIST VALUES ('1', '1', 'SuperServer', 'ETH0_IP', 'SUPERSERVER_PORT', 'ETH0_IP', 'SUPERSERVER_PORT', '0');
INSERT INTO SERVER_LIST VALUES ('2', '2', 'DataServer', '127.0.0.1', 'DATASERVER_PORT', '127.0.0.1', 'DATASERVER_PORT', '0');
INSERT INTO SERVER_LIST VALUES ('3', '3', 'LogicServer', '127.0.0.1', 'LOGICSERVER_PORT', '127.0.0.1', 'LOGICSERVER_PORT', '0');
INSERT INTO SERVER_LIST VALUES ('4', '4', 'GatewayServer', '127.0.0.1', 'GATESERVER_PORT', '127.0.0.1', 'GATESERVER_PORT', '0');
INSERT INTO SERVER_LIST VALUES ('5', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('6', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('7', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('8', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('9', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('10', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('11', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('12', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('13', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('14', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('15', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('16', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('17', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('18', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('19', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('20', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('21', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('22', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('23', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('24', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('25', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('26', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('27', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('28', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('29', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('30', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('31', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('32', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('33', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('34', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('35', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('36', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('37', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('38', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('39', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('40', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('41', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('42', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('43', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('44', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('45', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('46', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('47', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('48', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('49', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');
INSERT INTO SERVER_LIST VALUES ('50', '5', 'php', '127.0.0.1', '0', '127.0.0.1', '0', '0');

#每个区的自增长ID 合区时使用
ALTER TABLE PLAYER_INFO AUTO_INCREMENT=PLATFORM_IDSERVER_ID000000;
ALTER TABLE ARMY_LIST AUTO_INCREMENT=PLATFORM_IDSERVER_ID000000;

